

<!-- Search -->
{{#if loggedIn}}
{{>post-info post}}

  <!-- for when button is LOGOUT -->
  
<section id="search">

  <!-- Category Name -->
  <h1 id="category-name" class="title is-1">Cars</h1>

  <div class="field is-horizontal">
    <div class="field-body">

      <!-- search bar -->
      <div class="field">
        <div id="search-bar" class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth">
                  <select onchange="sendMake(event)" id="makeId">
                    <option selected="selected" value={{selectedMake.dataValues.id}}>
                      {{#if selectedMake}} 
                          {{selectedMake.dataValues.make_name}}
                          {{else}}
                              Make
                      {{/if}}
                    </option>
                    <!-- placeholder for testing START -->
                    {{!-- <option>Toyota</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Volkswagen</option> --}}
                    <!-- placeholder for testing END -->
                    
                    {{#each makeDropdown}}
                    <option value="{{this.dataValues.id}}">{{this.dataValues.make_name}}</option>
                    {{/each}}
                  </select>

                  <select onchange="getAllCars(event)" id="modelId">
                    <option selected="selected">Model</option>
                  {{#if selectedModel}} 
                          {{selectedModel}}
                          {{else}}
                              Model
                      {{/if}}
                  {{!-- {{#if modelDropdown}} --}}
                   {{#each modelDropdown}}
                   <option value="{{this.dataValues.model_name}}">{{this.dataValues.model_name}}</option>
                   {{/each}}
                   
                  {{!-- {{/if}} --}}
                   </select>
                </div>
          </div>
          {{#each makeDropdown}}
          <h1>{{{this.manufacture_name}}}</h1>
{{/each}}
          {{manufacture_name}}
          <!-- search bar submit -->
          <div class="control">
            <button id="search-btn" class="button is-link is-rounded">
              Search
            </button>
          </div>
        </div>
      </div> 
</div>
</div>
<br>
        {{#each searchResults}}
    
    <div class="tile is-parent box">
      <div class="tile is-child">
        <figure class="image is-128x128">
          <img src="{{this.dataValues.image}}">
        </figure>
      </div>
      <div class="tile is-child is-1"></div>
      <div class="tile is-child is-10">
        <h2 class="title is-4">{{this.dataValues.model_name}}</h2>
        
        <p><strong>Color:</strong>{{this.dataValues.color}}</p>
        <p><strong>Year:</strong>{{this.dataValues.year}}</p>
        <p><strong>Price:</strong>{{this.dataValues.price}}<br><strong>Stock:{{this.dataValues.stock}}</strong></p>
      
      </div>
    </div>
    {{!--  --}}
    
      <div class="tile is-child is-1"></div>
    {{/each}}
    <br>
</div>
</section>


    
{{!-- 
      <!-- filter button activates filter modal -->
      {{!-- <div class="field is-narrow">
        <div class="control has-icons-left is-narrow">
          <button id="filter-btn" class="button is-link is-rounded js-modal-trigger" data-target="modal-filter">
            <span class="icon is-small is-left">
              <i class="fas fa-filter"></i>
            </span>
            Filter
          </button>
        </div>
      </div>
      <!-- add-new button activates add-new modal -->
      {{!-- <div class="field is-narrow">
        <div class="control has-icons-left is-narrow">
          <button id="add-new-btn" class="button is-link is-rounded js-modal-trigger" data-target="modal-add-new">
            <span class="icon is-small is-left">
              <i class="fas fa-plus"></i>
            </span>
            Add New
          </button>
        </div>
      </div> --}}
    </div>
  </div>
  <!-- Filter Modal Code START -->
  <div id="modal-filter" class="modal">
    <!-- dims rest of screen when modal active -->
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h4 class="title is-4">Filter Cars</h4>
        <!-- filter options form -->
        <form id="filter-options">
          <!-- filter search field -->
          <div class="field is-expanded">
            <div id="search-bar" class="field">
              <div class="control is-expanded has-icons-left">
                <input id="search-field" class="input is-rounded" type="search" placeholder="Search">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="field-body">
            <!-- filter make field -->
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select>
                    <option selected="selected">Make</option>
                    <!-- placeholder for testing START -->
                    {{!-- <option>Toyota</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Volkswagen</option> --}}
                    <!-- placeholder for testing END -->
                    
                    {{#each makeDropdown}}
                    <option>{{manufacture_name}}</option>
                    {{/each}}
                   
                  </select>
                </div>
              </div>
            </div>
            <!-- filter color field -->
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select>
                    <option selected="selected">Make</option>
                    <!-- placeholder for testing START -->
                    {{!-- <option>Toyota</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Volkswagen</option> --}}
                    <!-- placeholder for testing END -->
                    
                    {{#each makeDropdown}}
                    <option>{{manufacture_name}}</option>
                    {{/each}}
                   
                  </select>
                </div>
              </div>
            </div>
            <!-- filter year field -->
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="year-dropdown">
                    <option selected="selected">Year</option>
                    <!-- dynamically creates placeholder year options -->
                    {{!--
                    {{#each Year}}
                    <option>{{id.make_year}}</option>
                    {{/each}}
                    --}}
                  {{!-- </select> --}}
                {{!-- </div>
              </div>
            </div>
          </div> --}}
          <!-- filter query submit -->
  <!-- Filter Modal Code END -->

  <!-- Add-New Modal Code START -->
  {{!-- <div id="modal-add-new" class="modal">
    <!-- dims rest of screen when modal active -->
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">

        <h4 class="title is-4">Add New Car</h4>
        <!-- create new car form -->
        <form id="add-new-options">
          <!-- make input field -->
          <div class="field has-addons">
            <div class="control">
              <a class="button is-rounded is-static is-light">
                Make
              </a>
            </div>
            <div class="control is-expanded">
              <input id="make-addNew" type="text" class="input is-rounded" placeholder="e.g. Honda">
            </div>
          </div>
          <!-- color input field -->
          <div class="field has-addons">
            <div class="control">
              <a class="button is-rounded is-static is-light">
                Color
              </a>
            </div>
            <div class="control is-expanded">
              <input id="color-addNew" type="text" class="input is-rounded" placeholder="e.g. Green">
            </div>
          </div>
          <!-- year input field -->
          <div class="field has-addons">
            <div class="control">
              <a class="button is-rounded is-static is-light">
                Year
              </a>
            </div>
            <div class="control is-expanded">
              <input id="year-addNew" type="text" class="input is-rounded" placeholder="e.g. 2002">
            </div>
          </div>
          <!-- form submit -->
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button id="add-new-submit" class="button is-link is-rounded">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <!-- Add-New Modal Code END --> --}}

  {{!-- <div class="spacer"></div> --}}

  <!-- Search Results displayed here -->
  {{!-- <div class="tile is-12 is-vertical is-ancestor"> --}}
    <!-- I don't know what the actual code supposed to be -->
    {{!--
    {{#each searchResult}}
    {{> result-info searchResult}}
    {{/each}}
    --}}

    <!-- placeholder for testing START -->
      {{!-- <div class="tile is-child is-1"></div>
      <div class="tile is-child is-9">
        <h2 class="title is-4">Honda</h2>
        <p>Color: Red</p>
        <p>Year: 2002</p>
      </div>
    </div> --}}
{{!-- 
    <div class="tile is-parent box">
      <div class="tile is-child">
        <figure class="image is-128x128">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="tile is-child is-1"></div>
      <div class="tile is-child is-9">
        <h2 class="title is-4">Volkswagen</h2>
        <p>Color: Green</p>
        <p>Year: 2021</p>
      </div>
    </div> --}}
    <!-- placeholder for testing END -->

  {{!-- </div> --}}
  {{!-- </div> --}}
  {{!-- </div> --}}
  {{!-- </section> --}}

  <script src="/js/logout.js"></script>
  
  <script src="/js/search.js"></script>
</section>
{{else}}
<p>Please Login</p>
{{/if}}