{{#each makes as |make|}}

  <div class="row">

    <div class="container makeBox">
			<div class="row  justify-content-center headerRow">
      <div class="col-8">
        <h2>
          <a class="makeTitle text-uppercase" href="/make/{{make.id}}">{{make.name}}</a>
        </h2>
      </div>

      <div class="col-4">
        <p class="makeCreate text-right">Cars make 
          {{make.user.username}}
          on
          {{format_date make.date_created}}
        </p>
      </div>
			</div>
    <div class="makeDesc">
      <p class="text-center makeDescMain">
        {{make.year}}
      </p>
    </div>
    </div>

  </div>